
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .right-changepass {
        padding: 20px;
    }

        .right-changepass form input {
            margin: 20px auto;
        }
</style>
<div class="container" style="min-height: 600px; margin: 60px auto;">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Images/changepasss.png" alt="" style=" width: 60%; height: 100%; padding: 28px 25px;">
        </div>
        <div class="col-lg-6 right-changepass">
            <h3>Đổi mật khẩu</h3>
            <small style="color:red">@ViewBag.ErrorMessage</small>
            <form action="@Url.Action("ChangePassword", "Users")" method="post" id="ChangePass">
                @Html.ValidationSummary(true)



                <input id="inputOldPassword" type="password" name="OldPassCus" placeholder="Nhập mật khẩu cũ" class="form-control" required>
                <input id="inputNewPassword" type="password" name="NewPass" placeholder="Nhập mật khẩu mới" class="form-control" required>
                <input id="reinputPassword" type="password" name="ReNewPass" placeholder="Nhập lại mật khẩu mới" class="form-control" required>

                <button type="submit" class="btn" style="background-color: rgb(248, 117, 139) ; color:#fff;">Xác nhận</button>
            </form>

        </div>
    </div>
</div>


